<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<div class="layer">
  <a class="btn button mr-2 mb-2" href="/new" data-turbolinks="false">등록</a>
  <a class="btn button mb-2" href="/check" data-turbolinks="false">출첵</a>
</div>
