<%= javascript_pack_tag 'record' %>

<h1>登録</h1>
<hr>
<button id="btn-start-recording">Start Recording</button>
<button id="btn-stop-recording" disabled="disabled">Stop Recording</button>
<hr>
<video id="my-preview" controls autoplay></video>