.check-form {
  position: absolute;
  top: 20%;
  left: calc(50% - 46rem/2);
  width: 46rem;
  height: 39rem;
  background-color: #eee !important;
  text-align: center;
}

.check-form-inside {
  display: inline-block;
  background-color: #fff !important;
  text-align: left;
}
