.button {
  width: 200px;
  height: 200px;
  background-color: #1ac18b !important;
  border-color: #1ac18b !important;
  line-height: 11rem !important;
  font-size: 3rem !important;
}

.layer{
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - (400px + 0.5rem)/2);
}
