// Place all the styles related to the join controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button {
  border: medium;
  width: 200px;
  height: 200px;
  background-color: rgb(3, 201, 158);
}
