.sign-up-form {
  position: absolute;
  top: 20%;
  left: calc(50% - 30rem/2);
  width: 30rem;
  height: 27rem;
  background-color: #eee !important;
  text-align: center;
}

.sign-up-form-inside {
  display: inline-block;
  margin-top: 4%;
  width: 90%;
  height: 90%;
  background-color: #fff !important;
  text-align: left;
}
