<%= javascript_pack_tag 'join' %>

<h1>登録</h1>
<video autoplay="true" id="videoElement"></video>
<br>
<button id="btn1">Start</button>
<div class="row">
  <div class="button">
    登録
  </div>
  <div class="button">
    出社
  </div>
</div>