<!-- <%= javascript_pack_tag 'join' %> -->
<%= javascript_pack_tag 'record' %>

<h1>登録</h1>
<!-- <video autoplay="true" id="videoElement" width="640" height="480"></video>
<button id="btn1">Start</button>
<br>
<br> -->
<hr>
<button id="btn-start-recording">Start Recording</button>
<button id="btn-stop-recording" disabled="disabled">Stop Recording</button>
<hr>
<video id="my-preview" controls autoplay></video>